@media only screen and (max-width: 992px) {
  .header01 {
    display: none !important;
  }

  .header02 {
    visibility: visible;
  }

  main {
    margin-top: 49px;
  }
}

@media only screen and (max-width: 641px) {
  .header-wheater-location {
    display: none;
  }
}

@media only screen and (max-width: 481px) {
  .header02-signsub {
    font-size: 14px;
  }

  .header-sign,
  .header-sub {
    padding: 3px;
  }

  .header-sub-arrow {
    display: none;
  }
}
