@media only screen and (max-width: 992px) {
  .header01 {
    display: none !important;
  }

  .header02 {
    visibility: visible;
  }

  main {
    margin-top: 49px;
  }
}

@media only screen and (min-width: 992px) {
  .newsletter-box {
    height: 92%;
  }
}

@media only screen and (max-width: 768px) {
  main {
    padding: 20px 15px 0 15px !important;
    background-color: white;
  }

  .main02-bgimg {
    width: 100%;
  }

  .newsletter-box,
  .subscribe-box {
    flex-direction: column;
    text-align: center;
  }

  .magazines-group {
    margin-bottom: 25px;
  }

  #newsletter-signup {
    height: 160px;
  }
}

@media only screen and (min-width: 768px) {
  #newsletter-signup {
    width: 48%;
    max-width: 191px;
  }
}

@media only screen and (max-width: 641px) {
  .header-weather-location {
    display: none;
  }
}

@media only screen and (max-width: 481px) {
  .header02-signsub {
    font-size: 14px;
  }

  .header-sign,
  .header-sub {
    padding: 3px;
  }

  .header-sub-arrow {
    display: none;
  }
}
