body {
  background-color: #f4f5f6;
}

.container-fluid {
  max-width: 1310px;
  min-width: 337px;
  padding: 20px 30px 0 30px;
}

/* MAIN HEADER */
.header01 {
  background-color: #f72210;
}

.header01-wheater {
  margin-top: 10.5px;
  margin-left: 20px;
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 34px;
  color: white;
}

.weather-icon {
  height: 24px;
  width: 24px;
}

.header-wheater-link {
  font-weight: 700;
  font-size: 15px;
  color: white;
}

.header-wheater-link:hover {
  text-decoration: none;
  color: white;
}

.wheather-date {
  font-weight: 400;
  font-size: 16px;
}

.header01-signsub {
  padding-bottom: 15px;
  padding-right: 20px;
  font-weight: 700;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
}

.header-sign {
  padding-right: 10px;
  color: white;
}

.header-sub {
  padding-left: 12px;
  padding-right: 12px;
  color: #f72210;
  background-color: white;
}

.header-sub:hover {
  text-decoration: none;
}

/* MAIN HEADER */

/* SECONDARY HEADER */

.header02 {
  visibility: hidden;
  width: 100%;
  height: 50px;
  padding: 15px;
  background-color: #f72210;
}

.header02-logo {
  height: 20px;
  padding-right: 20px;
}

.header02-wheater {
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 34px;
  color: white;
}

.header02-signsub {
  font-weight: 700;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
}

/* SECONDARY HEADER */

/* NAVBAR */

nav {
  background-color: white;
  border-bottom: 2px solid #f4f5f6;
}

.nav-list {
  padding: 15px 0 15px 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
}

.nav-list li {
  text-align: center;
  border-right: 1px solid rgb(217, 217, 217);
}

nav a {
  color: black;
}

.no-break {
  white-space: nowrap;
}

.search-icon {
  position: absolute;
  top: 16px;
}

.search-form input {
  z-index: 1;
  height: 54px;
  width: 60px;
  font-size: 18px;
  border: none;
  color: rgba(0, 0, 0, 0.55);
}

/* NAVBAR */

/* MAIN */

main {
  padding: 20px 30px 0 30px;
  background-color: white;
}

.img-tag {
  position: relative;
}

.tag {
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 0;
  padding: 8px 15px 9px 15px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 17px;
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0.9);
}

.tag a {
  color: #f72210;
}

.tag-small {
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 10px;
  padding: 0 6px 0 6px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  background-color: rgb(194, 212, 215);
}

.tag-small a {
  color: #272727;
}

.img-fluid {
  margin-bottom: 10px;
}

.img-small {
  float: left;
  margin-right: 15px;
  height: 95px;
  width: 95px;
}

main h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: rgba(3, 3, 3, 0.4);
}

main h3 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: black;
}

main h4 {
  font-family: 'Lora', serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
  color: rgb(39, 39, 39);
}

main h5 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-decoration-color: black;
  color: black;
}

main p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: rgb(51, 51, 51);
}

.main01-column02 {
  min-width: 41%;
}

.main01-column03 {
  max-width: 30%;
}

.short-art-a {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 20px;
}

.more-stories article {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
}

.more-stories article p {
  margin-bottom: 0;
}

.art-op-header {
  padding-left: 80px;
}

.art-op-writer {
  margin-top: 4px;
  margin-bottom: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  color: rgb(85, 85, 85);
}

.hr-red {
  background-color: #f72210;
}

.debate-img {
  margin-top: -15px;
  height: 63px;
  width: 63px;
}

.debate-double-border {
  border-bottom-style: double;
  border-bottom-color: #d9d9d9;
}

.debate-vs {
  height: 40px;
  width: 40px;
  margin: 14px auto 18px auto;
  border-radius: 50% 50%;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  color: rgb(214, 214, 214);
  background-color: black;
}

.signup-news {
  height: 163px;
  width: 300px;
  padding: 20px;
  margin-bottom: 30px;
  background-color: #f4f5f6;
}

/* MAIN */

/* FOOTER */

footer div {
  height: 1000px;
  background-color: rgb(48, 136, 67);
}

/* FOOTER */
