.container-fluid {
  max-width: 1310px;
  min-width: 337px;
}

/* MAIN HEADER */

.header01 {
  background-color: #f72210;
}

.header01-wheater {
  margin-top: 10.5px;
  margin-left: 20px;
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 34px;
  color: white;
}

.weather-icon {
  height: 24px;
  width: 24px;
}

.header-wheater-link {
  font-weight: 700;
  font-size: 15px;
  color: white;
}

.header-wheater-link:hover {
  text-decoration: none;
  color: white;
}

.wheather-date {
  font-weight: 400;
  font-size: 16px;
}

.header01-signsub {
  padding-bottom: 15px;
  padding-right: 20px;
  font-weight: 700;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
}

.header-sign {
  padding-right: 10px;
  color: white;
}

.header-sub {
  padding-left: 12px;
  padding-right: 12px;
  color: #f72210;
  background-color: white;
}

.header-sub:hover {
  text-decoration: none;
}

/* MAIN HEADER */

/* SECONDARY HEADER */

.header02 {
  visibility: hidden;
  width: 100%;
  height: 50px;
  padding: 15px;
  background-color: #f72210;
}

.header02-logo {
  height: 20px;
  padding-right: 20px;
}

.header02-wheater {
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 34px;
  color: white;
}

.header02-signsub {
  font-weight: 700;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
}

/* SECONDARY HEADER */

/* NAVBAR */

nav {
  max-height: 56px;
}

.nav-list {
  padding: 15px 0 15px 0;
  margin: 0;
  flex-grow: 1;
  flex-shrink: 1;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  list-style: none;
}

.nav-list li {
  flex-grow: 1;
  flex-shrink: 1;
  border-right: 1px solid rgb(217, 217, 217);
}

.nav-list a {
  color: black;
}

.search-container {
  left: 1148px;
  margin-right: 76px;
}

.search-icon {
  position: absolute;
  top: 16px;
}

.search-form input {
  z-index: 1;
  height: 56px;
  width: 60px;
  font-size: 18px;
  border: none;
  color: rgba(0, 0, 0, 0.55);
}

/* NAVBAR */

main div {
  height: 1000px;
  background-color: blueviolet;
}

footer div {
  height: 1000px;
  background-color: rgb(48, 136, 67);
}
