.container-fluid {
  max-width: 1370px;
}

.nav-lvl-01 {
  height: 95px;
  background-color: red;
}

.nav-01-wheater {
  margin-top: 12px;
  margin-left: 30px;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: cyan;
}

.weather-icon {
  height: 24px;
  width: 24px;
}

.nav-01-wheater-link {
  font-weight: 700;
  font-size: 15px;
  line-height: 34px;
}

.wheather-date {
  font-weight: 400;
  font-size: 16px;
  line-height: 34px;
}

.nav-lvl-02 {
  height: 56px;
  background-color: rgb(255, 169, 89);
}

.nav-lvl-03 {
  display: none;
  height: 50px;
  background-color: rgb(137, 236, 71);
}

/*.nav-lvl-02 {
  height: 56px;
  padding: 15px 0 15px 0;
  display: flex;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
}

.nav-lvl-02 li {
  flex-grow: 1;
  list-style-type: none;
  border-right: 1px solid rgb(217, 217, 217);
}

.nav-lvl-02 a {
  display: block;
  width: max-content;
  margin: auto;
  color: black;
}

.search-form input {
  max-width: 160px;
}*/

/* NAVBAR */

main div {
  height: 1000px;
  background-color: blueviolet;
}

footer div {
  height: 1000px;
  background-color: rgb(48, 136, 67);
}
